#ignore all files without an extension
*
!*/
!*.*

# ignore all db files
*.db
*.dll
*.json
*.exe
*.user
*.sln

#ignore truthfulls ui build
/truthfulls.com/truthfulls-ui
/truthfulls.com/bin
.vs
/TruthfullsTests/obj
/TruthfullsTests/bin
/truthfulls.com/obj
/truthfulls.com/Properties
*.user
/truthfulls.com/.config
truthfulls.com/migrations


/truthfulls.com/appsettings.json
